footer#feedback.footer
	.container
		.footer__wrapper
			.footer__col
				.footer__contacts
					a(href='tel:+74956407408') +7 (495) 640-74-08
					br
					a(href='mailto:info@art-coffee.ru') info@art-coffee.ru
				.footer__copyrights © 2021. Все права <br> защищены.
			.footer__col
				address г. Москва, ул. Огородный проезд, <br> дом 9A, строение 1, офис 307
				a.footer__policy(href='#', target='_blank') Политика конфиденциальности
			.footer__col
				.footer__schedule ПН - ЧТ с 10:00 до 18:00
					br
					|  ПТ с 10:00 до 17:00
				a.footer__created(href='#', target='_blank') Создание сайта
