section#advantages.advantages
	.container
		.advantages__wrapper
			.advantages__image
				img(src='images/advantages.jpg', srcset='images/advantages@2x.jpg 2x', alt='')
			.advantages__content
				.title.title--left.advantages__title Ваши преимущества с нами:
				.advantages__items
					.advantages__item
						+icon('machine')(width='64', height='66')
						p Ваш поставщик — официальный дистрибьютор <span>Lavazza</span> в России,
							|  а значит,  вы получаете только оригинальные продукты и минимальные цены.
					.advantages__item
						+icon('box')(width='62', height='67')
						p Бесплатная доставка кофе и кофемашин, вы платите только за кофе!
					.advantages__item
						+icon('person')(width='56', height='66')
						p Мы всегда на связи и готовы в любой момент проконсультировать вас по вопросам
							|  сотрудничества и выбрать максимально удобное решение для ващих потребностей.
					.advantages__item
						+icon('gear')(width='63', height='65')
						p Бесплатный сервис, быстрое реагирование и замена оборудования — вы всегда
							|  будете уверены, что ваша кофемашина в исправности.