section.appointment
	.container.appointment__container
		.appointment__bg
		.appointment__mobile
			.title.title--white.wow.fadeInDown Для чего подходят наши кофемашины
			.appointment__row
				.appointment__row-item.wow.fadeInDown(data-wow-delay='0.3s')
					.appointment__icon
						+icon('office')
					p Для офиса
				.appointment__row-item.wow.fadeInDown(data-wow-delay='0.6s')
					.appointment__icon
						+icon('coffee')
					p Для кофе на вынос
				.appointment__row-item.wow.fadeInDown(data-wow-delay='0.9s')
					.appointment__icon
						+icon('home')
					p Для дома
		.appointment__desk
			.title.wow.fadeInDown Для чего подходят наши кофемашины
			.appointment__wrapper
				.appointment__item.wow.fadeInDown(data-wow-delay='0.3s')
					.appointment__image
						img(src='images/appointment/1.jpg', srcset='images/appointment/1@2x.jpg 2x', alt='')
					p Для офиса
				.appointment__item.appointment__item--big.wow.fadeInDown(data-wow-delay='0.7s')
					.appointment__image
						img(src='images/appointment/2.jpg', srcset='images/appointment/2@2x.jpg 2x', alt='')
					p Для кофе на вынос
				.appointment__item.wow.fadeInDown(data-wow-delay='0.9s')
					.appointment__image
						img(src='images/appointment/3.jpg', srcset='images/appointment/3@2x.jpg 2x', alt='')
					p Для дома