section#choice.choice
	.container
		.title Почему это вкусно?
		.choice__wrapper
			.choice__col
				.choice__item
					p Лучшее качество зерна и приготовление!
					p Селекционеры Lavazza  отбирают для вас только самые высококачественные зерна кофе по всему миру,
						|  а эксперты по обжарке и помолу готовят кофейные смеси на лучшем современном оборудовании на фабрике в Турине.
				.choice__item
					p Больше кофе!
					p В капсулах Lavazza содержится больше кофе чем в любых других капсульных системах. Поэтому ваш эспрессо будет
						|  более насыщенным и крепким!
				.choice__item
					p Свежий аромат!
					p Сразу после помола кофе попадает в герметичную упаковку и может храниться очень долго без потери запаха.
						|  Аромат свежеобжаренного зерна полностью сохраняется.
			.choice__col
				.choice__image
					img(src='images/capsule-1.png', alt='')
					img(src='images/capsule-2.png', alt='')
					img(src='images/capsule-3.png', alt='')
			.choice__col
				.choice__item
					p Больше вкусов на ваш выбор!
					p Lavazza выпускает капсулы, содержащие 12  сортов кофе. Есть даже кофе без кофеина. Вы можете выбирать для
						|  каждой чашки эспрессо разные сорта зерна, это возможно только на капсульных машинах.
				.choice__item
					p Простота и удобство пользования.
					p Пользоваться капсульной машинкой действительно проще, чем зерновой, вкус и пенка всегда
						|  получаются одинаково прекрасными, и не нужно быть экспертом, чтобы получить эспрессо, как у бариста.
				.choice__item
					p Бесплатный сервис и доставка
					p Вы получаете не только бесплатную кофемашину, но и бесплатное обслуживание кофемашины,
						|  срочную замену при необходимости, регулярную бесплатную доставку кофе, и возможность
						|  проконсультироваться у наших специалистов по любым вопросам, связанным с кофе.
		.choice__btn
			+button('Заказать звонок', '', '#')