section.question
	.container
		.title.title--left Вопрос-ответ
		.question__wrapper
			.question__col
				.question__item
					.question__toggle
						p Я живу за городом, могу ли я воспользоваться услугой?
						.question__plus
					.question__text Мы осуществляем обслуживание наших клиентов по г. Ростов-на-Дону,
						|  г. Батайск и г. Аксай. Доставка в область на расстояние свыше 5 км осуществляется на платной основе.
				.question__item
					.question__toggle
						p Что я получаю, как клиент?
						.question__plus
					.question__text
						p Вы абсолютно БЕСПЛАТНО получаете:
						p Итальянскую кофемашину <br> Сервисное обслуживание, включающее: <br>
							|  Доставку кофе до адреса — бесплатно при единовременном заказе от 100 капсул. <br>
							|  Комплексное обслуживание — декальцинация (удаление накипи), очистка системы кофемашины от отложений кофейных масел. <br>
						p Сомневаетесь? — Закажите бесплатную дегустацию!
				.question__item
					.question__toggle
						p Как быстро я смогу получить кофемашину?
						.question__plus
					.question__text Мы согласуем с Вами доставку в любой рабочий день с 10 до 17 часов
			.question__col
				.question__item
					.question__toggle
						p Сколько кофе нужно заказывать?
						.question__plus
					.question__text Минимальный заказ 50 капсул в месяц. То есть пейте 1-2 чашки кофе в день и пользуйтесь бесплатно кофе-машиной!
				.question__item
					.question__toggle
						p Где я могу установить кофемашину?
						.question__plus
					.question__text(style='display: block;') У нас большой парк кофемашин под любые задачи.
						|  Мы поможем Вам выбрать кофемашину для квартиры, рабочего места, а также в столовую и кафе.