section.steps
	.container
		.title.title--left Отличный кофе в несколько шагов
		.steps__wrapper
			.steps__item
				.steps__circle-wrapper
					.steps__circle
					span 01
				.steps__item-title Выберите вашу <br> кофемашину
				.steps__item-text Мы согласуем место и время бесплатной дегустации
			.steps__item
				.steps__circle-wrapper
					.steps__circle
					span 02
				.steps__item-title Бесплатная <br> дегустация у Вас
				.steps__item-text Пробуйте и выбирайте <br> кофемашину
			.steps__item
				.steps__circle-wrapper
					.steps__circle
					span 03
				.steps__item-title Если все понравилось поздравляем, Вы клиент
				.steps__item-text Вы сможете вернуть <br> кофемашину, когда пожелаете
			.steps__item
				.steps__circle-wrapper
					.steps__circle
					span 04
				.steps__item-title Заказывайте кофе каждый месяц и наслаждайтесь
				.steps__item-text Доставка кофе и обслуживание кофемашины бесплатно
		+button('Бесплатная дегустация', 'steps__btn', '#')