extends ../layouts/default

block vars
	-
		const page = {
			title: 'Lavazza'
		};

block main
	include ../blocks/first-screen.pug
	include ../blocks/choice.pug
	include ../blocks/appointment.pug
	include ../blocks/steps.pug
	include ../blocks/advantages.pug
	include ../blocks/question.pug
	include ../blocks/feedback.pug

block scripts
