doctype html

include vars
block vars
include ../mixins/mixins

html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='keywords', content='')

		link(href='css/main.min.css', rel='stylesheet', type='text/css')
		title= `${page.title}`

	body
		.marquee
			.container.marquee__container
				.marquee-fixed
					span.js-marquee-2 Кофемашина в аренду бесплатно
						span Кофемашина в аренду бесплатно
						span Кофемашина в аренду бесплатно
						span Кофемашина в аренду бесплатно
		block header
			include ../partials/header

		main.main
			block main

		block footer
			include ../partials/footer


	script(src="js/main.min.js")

	block scripts
