/* Breakpoints */
$media-list: (
	'xs': 560,
	'sm': 767,
	'md': 1079,
	'lg': 1279,
	'xl': 1599,
	'xxl': 1900,
);

/* Fonts */
$mainFont: 'GolosText', sans-serif;
$secondFont: 'Gilroy', sans-serif;

/* Colors */
$mainColor: #252525;
$black-15: #151515;
$black: #000000;
$white: #ffffff;
$gray-6b: #6b6b6b;
$gray-f4: #f4f9fd;
$gray-e6: #e6e6e6;
$gray-aa: #aaaaaa;
$gray-9c: #9c9c9c;
$blue: #01488a;
$blue-105: #105092;
$blue-013: #013f7e;
